@import "../../styles/_global.scss";

.ContactTeaser {
    flex: 1 1 auto;
    box-shadow: $bs-standard;
    width: 100%;
    height: auto;

    background-color: white;
    margin: 0 2rem 0 4rem;
    padding: 2rem 0;
    border-radius: 1rem;

    display: flex;
    justify-content: row;

    &__teaser {
        display: flex;
        justify-content: center;
    
    }
    &__hexa {
        margin: auto -2.5rem;

        width: 60px;
        height: 100px ;
        background-color: $hp-blue;
        position: relative;
  
        &:before {
            content: "";
            position: absolute;
            left: -30px;
            border-right: 30px solid $hp-blue;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
        }
        
        
        &:after {
            content: "";
            position: absolute;    
            right: -30px;
            border-left: 30px solid $hp-blue;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
        }
        

    

    }
    &__image {
        position: absolute;
        margin-top: 1.2rem;

        & img {
            margin: auto;
        }
    }
    &__content {
        padding: 1rem ;
        margin: auto 0.5rem auto 3.5rem;

        &-element {
            > span {
                text-transform: uppercase;  
            }
            > p {
                font-weight: $fw-bold;    
            }
        }
    }
}      
    

