@import "../../global.scss";

.Container {
    width: 100%;
    padding: 7rem 10rem 2rem;
    margin-top: 7rem;

    &--no-top {
        margin-top: 0;   
    }
    &--no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
    &--padding-s{
        padding-top: $spacer-m;
    } 
    &--full-height {
        margin-top: 0;
        height: 100vh;
        // border: solid red 2px;
    }
    &--half-height {
        margin-top: 0;
        height: 50vh;
        // border: solid blue 2px;
    }
    &--full-width {
        padding-left: 0;
        padding-right: 0;
    }
}