@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.MobileNav {
  // position: absolute;
  z-index: 50;
  // top: -0.1rem;
  // right: 0;
  // left: -0.1rem;
  // width: auto;
  // height: 100%;

  &__bar {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;

    @include respond-to(xs) {
      margin-right: 11%;
    }

    & > button {
      margin: 0;

      &:hover::after {
        width: 0;
      }
    }
  }

  &__wrapper {
    position: absolute; //
    z-index: 2;
    height: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $hp-white;
    min-width: 100vw;

    -webkit-transition: opacity $duration-m;
    -moz-transition: opacity $duration-m;
    -ms-transition: opacity $duration-m;
    -o-transition: opacity $duration-m;
    transition: opacity $duration-m;
    opacity: 1;
    top: 0;
    left: 0;
  }

  &__burger {
    > div {
      margin-bottom: 0.5rem;
      margin-right: 2rem;

      &::after {
        display: block;
        width: 3rem;
        content: "";
        height: 1.5px;
        background-color: $hp-blue;
      }
    }
  }
  &--active {
    opacity: 1;
  }

  &__bg-image {
    background: $hp-blue;
    background: -webkit-linear-gradient(
      rgba($hp-blue, 0.8),
      rgba($hp-blue, 0.5)
    );
    background: linear-gradient(rgba($hp-blue, 0.8), rgba($hp-blue, 0.5));
    width: auto;
    height: 100%;
    top: 0;
    right: 0;

    & img {
      opacity: 0.5;
      width: 100%;
      height: 100%;
    }
  }
  &__close {
    position: absolute;
    top: $margin-m;
    right: 0;
    margin: 0;

    > div {
      position: relative;
      padding: 20px;
      overflow: hidden; //hide overflow of pseudo elements
    }

    > div:before,
    > div:after {
      position: absolute;
      content: "";
      background: $hp-white;
      display: block;
      width: 100%;
      height: 2px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      //center the X vertically and horizontally:
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    > div:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__content {
    position: absolute;
    top: 15%;
    bottom: 20%;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    > a,
    button,
    .MobileNav__ext > a {
      color: $hp-white;
      font-weight: $fw-bold;
      font-size: $fs-h4;
      margin: 0;

      &::after {
        display: none;
      }
    }
    & .MobileNav__dropdown {
      background-color: transparent;
      background-color: transparent;
      border: none;
      box-shadow: none;
      top: 3rem;
    }
  }
  &__logo {
    flex: 0 0 10%;
    width: 30rem;
    display: flex;
    > a {
      margin: 0 auto;
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__ext {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
  }

  &__plus {
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    margin-right: $margin-xs;

    transition: all $duration-s;

    &--active {
      transform: rotate(45deg);
    }
  }
  &__dropdown {
    height: auto;
    width: auto;
    max-width: 20rem;

    top: 0;
    transition: opacity $duration-s;

    & div {
      padding: $padding-xs;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    background-color: transparent;

    a {
      flex: 0 0 auto;
      color: $hp-white;
      font-size: $fs-p;
      text-align: center;
      margin: 0;
      &::after {
        display: none
      }
    }
  }

  &--white {
    .MobileNav__burger div::after {
      background-color: $hp-white;
    }
  }

  &__meta {
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    display: flex;

    > a {
      margin: 0 auto;
      color: white;
      &::after {
        display: none;
      }
    }
  }
}
