@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.Quote {
position: relative;
    &__wrapper {
        padding-top: $margin-m;
        text-align: center;

        @include respond-to(m) {
            padding-top: $spacer-m;
        }
    }

    &__text { 
        font-size: 1.8rem;
        &::before {
            content: '„';
        }
        &::after {
            content: '“';
        }
        @include respond-to(m) {
            font-size: $fs-h3-mobile;
        }
    }

    &__author {
        color: $hp-blue-3;
        &::before {
            content: '- ';
        }
        &::after {
            content: ' -'
        } 
    }
}