@import "../../../styles/_global.scss";

.Overlay {
  z-index: 60;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &__bg {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    background: rgba($hp-white, 0.8);
  }

  &__content {
    margin-top: $margin-xl + $margin-menu;
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__text {
    flex: 0 0 20%;
  }
  &__image {
    flex: 1 1 auto;
    margin-left: $spacer-m;
  }
  &__close {
    position: absolute;
    top: $margin-l;
    right: $margin-l;
    z-index: 2;
    cursor: pointer;
  }
}
