@import "../../../styles/_global.scss";
@import "../../../styles/media-queries";

.Overlay {
  z-index: 60;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &__bg {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    background: rgba($hp-white, 0.9);
  }

  &__content {
    margin-top: $spacer-m;
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70vh;

    @include respond-to(l) {
      margin-top: $margin-xl + $margin-menu;
      flex-direction: row;
    }
  }

  &__text {
    flex: 0 0 20%;
  }
  &__image {
    flex: 1 1 auto;
    overflow: hidden;
    height: 100%;

    > div {
      height: 100%;
      width: auto;
    }
    @include respond-to(l) {
      margin-left: $spacer-m;
    }
  }
  &__close {
    position: absolute;
    top: $margin-xl;
    right: $margin-s;
    z-index: 2;
    cursor: pointer;

    > .HexaIcon h4 {
      font-size: $fs-h4-mobile;
      margin-top: -0.5rem;
    }

    @include respond-to(l) {
      top: $margin-l;
      right: $margin-l;
    }
  }
}
