@import "../../../styles/_global";
@import "../../../styles/media-queries";

.Container {
    max-width: 100%;
    width: $max-width-s;
    margin: $margin-menu auto 0;

    @include respond-to(l) {
        width: $max-width-s;
    }
    @include respond-to(xl) {
        width: $max-width-m;
    }
    @include respond-to(xxl) {
        width: $max-width-l;
    }

    &--no-top {
        margin-top: 0;   
    }
    &--no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
    &--padding-s{
        padding-top: $margin-m;
    } 
    &--full-height {
        margin-top: 0;
        height: 100vh;
        border: solid red 2px;
    }
    &--half-height {
        margin-top: 0;
        height: 50vh;
        border: solid blue 2px;
    }
    &--full-width {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    &--starter {
        scroll-snap-align: start
    }
}