@import "../../../styles/_global";
@import "../../../styles/media-queries";

* {
  scroll-snap-type: y mandatory;
  &.proximity {
    scroll-snap-type: y proximity;
  }
}

.Container {
  max-width: 100%;
  margin: $margin-menu auto 0;
  width: 90%;

  @include respond-to(s) {
    width: $max-width-xs;
  }

  @include respond-to(m) {
    width: $max-width-s;
  }

  @include respond-to(l) {
    width: $max-width-m;
  }
  @include respond-to(xxl) {
    width: $max-width-l;
  }

  &--no-top {
    margin-top: 0;
  }
  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  &--padding-s {
    padding-top: $margin-m;
  }
  &--full-height {
    margin-top: 0;
    min-height: auto;
    // border: solid red 2px;

    @include respond-to(xl) {
      height: 100vh;
      max-height: 100rem;
    }
  }
  &--half-height {
    margin-top: 0;
    min-height: auto;
    // border: solid blue 2px;

    @include respond-to(xl) {
      height: calc(50vh - 8rem/2);
      max-height: 50rem;
    }
  }
  &--half-height--start {
    margin-top: 0;
    min-height: auto;
    // border: solid blue 2px;

    @include respond-to(xl) {
      height: 50vh;
      max-height: 50rem;
    }
  }
  &--full-width {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &--starter {
    @include respond-to(l) {
      scroll-snap-align: start;
    }
  }
}
