@import "../../../styles/_global";
@import "../../../styles/media-queries";

* {
  scroll-snap-type: y mandatory;
  &.proximity {
    scroll-snap-type: y proximity;
  }
}

.Container {
  pointer-events: visible;
  max-width: 100vw;
  margin: $margin-menu auto 0;
  width: $max-width-s-mobile;
  // border: solid red 2px;

  @include respond-to(xs) {
    width: $max-width-m-mobile;
    // border: solid pink 2px;
  }
  @include respond-to(s) {
    width: $max-width-l-mobile;
    // border: solid orange 2px;
  }
  @include respond-to(m) {
    width: $max-width-xs;
    // border: solid blue 2px;
  }
  @include respond-to(l) {
    width: $max-width-s;
    // border: solid darkblue 2px;
  }
  @include respond-to(xl) {
    width: $max-width-m;
    // border: solid green 2px;
  }
  @include respond-to(xxl) {
    width: $max-width-l;
    // border: solid turquoise 2px;
  }

  &--no-top {
    margin-top: 0;
  }
  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  &--padding-s {
    padding-top: $margin-m;
  }
  &--full-height {
    margin-top: 0;
    min-height: auto;
    height: auto;

    @include respond-to(xl) {
      height: 100vh;
      max-height: 100rem;
    }
  }
  &--half-height--bottom {
    margin-top: 0;
    min-height: auto;

    @include respond-to(xl) {
      margin-top: 0;
      height: calc(50vh - 4rem);
      max-height: 50rem;
    }
  }
  &--half-height--top {
    margin-top: 0;
    min-height: auto;

    @include respond-to(xl) {
      height: calc(50vh + 4rem);
      max-height: 50rem;
      padding-top: 8rem;
    }
  }
  &--half-height--start {
    margin-top: 0;
    min-height: auto;
    // border: solid blue 2px;

    @include respond-to(xl) {
      height: 50vh;
      max-height: 50rem;
    }
  }
  &--full-width {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &--starter {
    @include respond-to(xl) {
      scroll-snap-align: start;
    }
  }
}
