@import '../styles/global';

.IndexPage {
    height: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


    &__bg-image {
        background: $hp-blue; 
        background: -webkit-linear-gradient(rgba($hp-blue, 0.8), rgba($hp-blue, 0.5));
        background: linear-gradient(rgba($hp-blue, 0.8), rgba($hp-blue, 0.5)); 
        width: auto;
        height: 100%;

        & img {
            opacity: 0.5;
            width: auto;
            height: 100%;
        }
    }

    &__content {
        height: auto;
        min-height: 100vh;
        position: absolute;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & a {
            font-size: $fs-h3;
            
        }
    }
    &__menu-right,
    &__menu-left  {
        flex: 0 0 30%;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        height: 90%;
        z-index: 2;
    }
    &__menu-left{
        align-items: flex-end;

        & .IndexPage__link:nth-child(even) {
            margin-right: 15rem;
        }
    }
    &__menu-right {

        & .IndexPage__link:nth-child(even) {
            margin-left: 15rem;
        }
    }  
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $fw-bold;
        // font-size: $fs-xxl;

        color: $hp-white;

    }

    &__logo-box, &__hexa-box {
        position: absolute;

        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            height: auto;
            width: 30vw;

        } 
    }

    &__hexa-box {
        & img {
            width: 45vw;
        } 
    }
    &__logo-box {
        & img {
            margin-top: -$spacer-m;
        }
    }
}
