@import '../styles/global';

.MetaPage {
    margin: $margin-l+$margin-menu 0 $margin-l;

    h3 {
        margin-bottom: $margin-s;
        text-align: left;
    }
    h4 {
        margin-top: $margin-m;
        text-transform: unset;
    }
}