@import "../styles/global";
@import "../styles/media-queries";

.PortfolioPage {
  overflow: hidden;
  max-width: 100vw;

  @include respond-to(m) {
    max-height: 100vw;
  }
  &__stage {
    padding-top: $margin-menu-mobile+$margin-s;
    text-align: center;

    > h3 {
      margin-bottom: $margin-s;
      font-size: $fs-h3-mobile;
    }
    @include respond-to(m) {
      padding-top: $margin-menu+$margin-m;
      > h3 {
        font-size: $fs-h3;
      }
    }
  }

  &__content {
    position: relative;
    height: 100%;
    width: 100%;
    // min-height: 100vh;

    @include respond-to(xl) {
      min-height: auto;
      max-height: 80vh;
    }
  }
}
