@import "../styles/media-queries";
@import "../styles/global";

.ProductsPage {
  position: relative;
  margin-bottom: $margin-l;

  h3 {
    font-size: $fs-h3-mobile;
    margin-bottom: $margin-xs;
    @include respond-to(m) {
      font-size: $fs-h3;
      margin-bottom: $margin-m;
    }
  }
  &__content{
    width: 100%;
    padding: $margin-menu-mobile + $margin-l $margin-m 0 $margin-xl;
  }
}
