@import "../styles/media-queries";
@import "../styles/global";

.ProductsPage {
  padding-top: $margin-menu-mobile + $margin-l;
  position: relative;
  margin-bottom: $margin-l;

  h3 {
    font-size: $fs-h3-mobile;
    margin-bottom: $margin-xs;
    @include respond-to(m) {
      font-size: $fs-h3;
    }
  }
  &__content{
    width: 100%;
  }
}
