@import "../styles/media-queries";
@import "../styles/global";

.ProductsPage {
  position: relative;

  h3 {
    font-size: $fs-h3-mobile;
    margin-bottom: $margin-xs;
    @include respond-to(m) {
      font-size: $fs-h3;
      margin-bottom: $margin-m;
    }
  }
  &__content {
    width: 100%;
    padding: $margin-menu-mobile + $margin-l 0 0;
    @include respond-to(m) {
      padding: $margin-menu + $margin-s $margin-m 0 $margin-xl;
    }
  }
}
