@import "../../../styles/_global.scss";
@import "../../../styles/media-queries";
@import "../../../styles/mixins";

$size-s: 13rem;
$size-m: 18rem;
$size-l: 23rem;

.HexaImage {
  position: relative;
  margin-bottom: 0.3rem;

  @include respond-to(s) {
    margin-bottom: 0.3rem;

    &:hover {
      .HexaImage__poly {
        image {
          opacity: 1;
        }
      }
    }
  }
  @include respond-to(m) {
    margin-bottom: 0.55rem;
  }

  &__poly {
    image {
      transform: translateY(-200px) translateX(-100px);
      opacity: 0.6;
      background-color: $hp-blue;
      transition: opacity $duration-s;
    }
  }

  > button {
    cursor: pointer;
    height: auto;
    height: auto;
    width: 100%;
    width: $size-s;

    @include respond-to(s) {
      height: auto;
      width: $size-m;
    }
    @include respond-to(xxl) {
      height: auto;
      width: $size-l;
    }
  }

  &__overlay {
    pointer-events: visible;
    opacity: 0;
    -webkit-transition: opacity 5s 10s;
    -moz-transition: opacity 5s 10s;
    -ms-transition: opacity 5s 10s;
    -o-transition: opacity 5s 10s;
    transition: opacity 5s 10s;

    &--show {
      opacity: 1;
      -webkit-transition: opacity 5s 10s;
      -moz-transition: opacity 5s 10s;
      -ms-transition: opacity 5s 10s;
      -o-transition: opacity 5s 10s;
      transition: opacity 5s 10s;
    }
  }
}
