@import "../../../styles/_global.scss";
@import "../../../styles/media-queries";

$size-s: 12rem;
$size-m: 15rem;
$size-l: 20rem;

.HexaImage {
  position: relative;
  height: auto;
  max-height: $size-s;
  width: 100%;
  max-width: $size-s;

  margin-bottom: 0.5rem;

  @include respond-to(s) {
    max-height: $size-m;
    max-width: $size-m;
    margin-bottom: 1rem;
  }
  @include respond-to(m) {
    max-height: $size-l;
    max-width: $size-l;
    margin-bottom: 2rem;
  }

  &__poly {
    image {
      transform: translateY(-200px);
    }
  }
}
