@import "../../styles/_global.scss";
@import "../../styles/extends";

.FaqBox {
    width: 100%;
    height: auto;
    padding: $margin-m;
    margin-bottom: $margin-m;
    @extend %round-box;

    position: relative;
    display: block;
    cursor: pointer;

    &__question {
        margin: 0;
        text-align: left;
    }
    &__answer {
        margin-top: $margin-s;
        text-align: left;
    }
    &__button {
        width: 3rem;
        position: absolute;
        top: $margin-m;
        right: 0;
    }

}