@import "../global.scss";

.ServiceTeaserElement {

    &:not(:last-child) {
        margin-right: $spacer-m;
    }

    &__content {
        background-color: $hp-white;
        box-shadow: $bs-standard;
        border-radius: $br-standard;
        border: $border-xs;

        padding: $spacer-m;

        > h4 {
            margin-bottom: $spacer-s;
        }
    }
    &__icon {
        width: 5rem;
        height: 5rem;
        margin-bottom: $spacer-s;
    }
}