@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.ServiceTeaserElement {
  &:not(:last-child) {
    margin-bottom: $margin-m;
    @include respond-to(xl) {
      margin-right: $margin-s;
    }
  }

  &__content {
    > .FaqBox > .FaqBox__button {
      top: 1.5rem;
    }
    @include respond-to(xl) {
      min-height: 50rem;
    }
  }
}
