@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.ProductOverviewElement {
  flex: 0 0 auto;
  position: relative;
  margin-bottom: $margin-m;

  position: relative;

  &:last-child .ProductOverviewElement__content {
    margin-right: $margin-l;

    & .ProductOverviewElement__button {
      right: $margin-xl;
    }
  }
  @include respond-to(xl) {
    &:not(:first-child) .ProductOverviewElement__content {
      margin-left: $margin-s;
    }
  }

  &__content {
    max-width: 28rem;
    height: 100%;

    margin-left: $margin-s;

    > .TextBox {
      display: flex;
      flex-direction: column;

      > h4 {
        font-size: $fs-h4-mobile;
        display: inline-block;
        flex: 0 0 15%;
      }
      > p {
        flex: 0 0 auto;
      }
    }

    @include respond-to(m) {
      margin-left: $margin-s;
    }

    @include respond-to(xl) {
      margin-left: 0;
    }
  }
  &__button {
    position: absolute;
    bottom: -3rem;
    right: $margin-l/2;
    transition: transform $duration-s;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
