@import "../../styles/_global.scss";

.ProductOverviewElement {
    flex: 0 0 25%;
    max-width: 40rem;
    position: relative;

    &__button {
        position: absolute;
        bottom: -2rem;
        right: $margin-m/2;
    }
}