@import "../../styles/_global.scss";

.ServiceOverviewElement {
    margin-bottom: $spacer-l;

    &__content {
        > .HexaIcon {
            margin: 0 auto;
            margin-top: -6rem;
        }

        padding: $margin-m;
        max-height: 15rem;

        background-color: $hp-white;
        box-shadow: $bs-standard;
        border-radius: $br-standard;
        border: $border-xs;

        text-align: center;

        > h4 {
            margin: $margin-s 0 $margin-s;
        }
    }
}