@import "../../styles/_global.scss";


.Brands {
    padding-top: $margin-menu + $margin-m;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__element {
        flex: 0 1 auto;

        max-height: 20rem;
        height: max-content;
        min-width: 40rem;
        overflow: hidden;
        margin-bottom: $margin-m;
    }
}