@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.Brands {
  padding-top: $margin-menu + $margin-m;
  height: auto;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__element {
    flex: 1 1 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: $margin-m;

    > img {
      object-fit: cover;
    }

    @include respond-to(m) {
      flex: 0 1 28%;
      max-height: 30rem;
      overflow: hidden;
    }
  }
}
