@import "../../../styles/_global";
@import "../../../styles/media-queries";

.ArrowLink {
    display: block;
    height: 100%;
    width: 5rem;
    cursor: pointer;

    -webkit-transition: transform $duration-s;
    -moz-transition: transform $duration-s;
    -ms-transition: transform $duration-s;
    -o-transition: transform $duration-s;
    transition: transform $duration-s;

    @include respond-to(m) {
        width: 6rem;
    }

    &--down{
        transform: rotate(90deg);
    }
}