@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.HexaPattern {
  margin: 0 auto;
  margin-top: $margin-m;
  position: relative;
  width: 100vw;
  height: auto;

  @include respond-to(xl) {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    height: 100%;
  }
  &__column {
    width: auto;

    &:not(:first-child) {
      margin-left: -3rem;
    }

    @include respond-to(s) {
      &:not(:first-child) {
        margin-left: -4rem;
      }
    }
    @include respond-to(m) {
      &:not(:first-child) {
        margin-left: -4rem;
      }
    }
    @include respond-to(l) {
      &:not(:first-child) {
        margin-left: -4.5rem;
      }
    }
    @include respond-to(xl) {
      &:not(:first-child) {
        margin-left: -5.5rem;
      }
    }
  }
}
