@import "../../styles/_global.scss";

.ProductTeaser {
    padding-top: $margin-menu + $margin-s;
    position: relative;
    height: 100%;

    &__gallery {
        z-index: 1;
        position: absolute;
        left: 0;
        width: 65%;
        height: auto;

        display: flex;
        align-items: center;

        overflow: hidden;


        & img {
            width: 100%;
            height: 70%;

            margin: auto;
        }
    }

    &__description {
        z-index: 2;
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left: 60%;
        height: 100%;
        width: 40%;

        display: flex;
        align-items: center;
    }
    &__text {
        height: max-content;
        padding: $margin-m;
        background-color: $hp-white;
        box-shadow: $bs-standard;
        border-radius: $br-standard;
        border: $border-xs;
    }
    &__title {
        text-align: left;
        margin-bottom: $margin-xs;
    }
}