@import "../../styles/_global.scss";

.Step {
  width: 50%;

  &:nth-child(even) {
    margin-left: 50%;

    .Step__content {
      float: left;
      flex-direction: row-reverse;
    }
    .Step__hexa {
      margin: auto -2.5rem auto $margin-m;
    }
  }

  &__content {
    margin-top: -$margin-m/2;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > .TextBox {
      padding: $padding-s $padding-m;

      > h4 {
        margin: 0;
      }
    }
  }
  &__hexa {
    height: auto;
    width: 5rem;
    z-index: 2;

    margin: auto $margin-m auto -2.5rem;

    > img {
      width: 100%;
      height: auto;
    }
  }
}
