@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.Step {
  width: auto;
  margin: 0 auto $margin-l;

  &__content {
    position: relative;
    min-width: 50rem;

    > .TextBox {
      padding: $padding-s $padding-m;

      > h4 {
        font-size: $fs-p;
        text-transform: none;
        margin: 0;
      }
    }

    @include respond-to(m) {
      margin-top: -$margin-m/2;
      float: right;
      justify-content: flex-end;
      height: 100%;
    }
  }
  &__hexa {
    position: absolute;
    z-index: 2;

    top: -1.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    width: 3rem;

    @include respond-to(m) {
      width: 5rem;
      top: 2rem;
      bottom: 0;
      left: auto;
      right: -2rem;
      margin: auto;
    }

    > img {
      width: 100%;
      height: auto;
    }
  }

  @include respond-to(m) {
    width: 100%;
    position: relative;
    height: auto;
    padding-right: 55%;

    &:nth-child(odd) {
      padding-right: 0;
      padding-left: 55%;

      .Step__content {
        float: left;
        flex-direction: row-reverse;
      }
      .Step__hexa {
        left: -2rem;
        right: auto;
      }
    }
  }
}
