@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.StepByStep {
  padding-top: $margin-menu + $margin-m;
  position: relative;
  height: 100%;

  text-align: center;

  > h3 {
    font-size: $fs-h3-mobile;
    margin-bottom: $margin-s;

    @include respond-to(m) {
      font-size: $fs-h3;
      margin-bottom: initial;
    }
  }

  > p {
    margin-bottom: $margin-l;
  }
  &__line {
    width: 2px;
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: $hp-blue;
    animation: move 3000ms 1;
  }
}

@keyframes move {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
