@import "../../styles/_global.scss";

.StepByStep {
    margin-top: $margin-menu + $margin-m;
    position: relative;

    text-align: center;

    &__line {
        height: 3px;
        width: 100%;

        background-color: $hp-blue;
    }
}
