@import "../../styles/_global.scss";
@import "../../styles/media-queries";

$duration: 0.5s;

.StepByStep {
  position: relative;
  &__wrapper {
    padding-top: $margin-menu + $margin-m;
    position: relative;
    height: 100%;

    text-align: center;

    > h3 {
      font-size: $fs-h3-mobile;
      margin-bottom: $margin-s;

      @include respond-to(m) {
        font-size: $fs-h3;
        margin-bottom: initial;
      }
    }

    > p {
      margin-bottom: $margin-l;
    }
  }
  &__steps {
    height: 100%;
  }
}

@keyframes move {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.LineAnimation {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 28.2rem;

  & .zigzag {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 36.1rem;
    margin-top: 4rem;
  }

  .line-even,
  .line-odd {
    flex: 0 0 auto;
    position: relative;
    background-color: $hp-blue;
    background: linear-gradient(to left, $hp-blue 50%, #fff 50%);
    background-size: 200% 100%;

    width: 18rem;
    height: 3px;
  }

  .line-0 {
    position: relative;
    height: 3px;
    width: 0rem;
    background: none;
    background-color: $hp-blue;
    -webkit-transition: width $duration $duration;
    -moz-transition: width $duration $duration;
    -ms-transition: width $duration $duration;
    -o-transition: width $duration $duration;
    transition: width $duration;
  }
  .line-even {
    transform: rotate(-146deg);
    background-position: bottom left;
  }
  .line-odd {
    transform: rotate(-33deg);
    background-position: bottom left;
  }

  &--start {
    .line-0 {
      width: 70%;
    }
    .line-even,
    .line-odd {
      width: 18rem;
      background-position: bottom right;
    }

    .no1 {
      -webkit-transition: background-position $duration $duration;
      -moz-transition: background-position $duration $duration;
      -ms-transition: background-position $duration $duration;
      -o-transition: background-position $duration $duration;
      transition: background-position $duration $duration;
    }
    .no2 {
      -webkit-transition: background-position $duration $duration * 2;
      -moz-transition: background-position $duration $duration * 2;
      -ms-transition: background-position $duration $duration * 2;
      -o-transition: background-position $duration $duration * 2;
      transition: background-position $duration $duration * 2;
    }
    .no3 {
      -webkit-transition: background-position $duration $duration * 3;
      -moz-transition: background-position $duration $duration * 3;
      -ms-transition: background-position $duration $duration * 3;
      -o-transition: background-position $duration $duration * 3;
      transition: background-position $duration $duration * 3;
    }
    .no4 {
      -webkit-transition: background-position $duration $duration * 4;
      -moz-transition: background-position $duration $duration * 4;
      -ms-transition: background-position $duration $duration * 4;
      -o-transition: background-position $duration $duration * 4;
      transition: background-position $duration $duration * 4;
    }
    .no5 {
      -webkit-transition: background-position $duration $duration * 5;
      -moz-transition: background-position $duration $duration * 5;
      -ms-transition: background-position $duration $duration * 5;
      -o-transition: background-position $duration $duration * 5;
      transition: background-position $duration $duration * 5;
    }
  }
}
