@import "../../styles/_global";
@import "../../styles/_extends";
@import "../../styles/_media-queries";

.Navbar {
  position: fixed;
  top: 0;
  z-index: 52;
  width: 100vw;
  @extend %box;

  height: $margin-menu-mobile;

  @include respond-to(m) {
    height: $margin-menu;
    transition: opacity $duration-s;

    &--shown {
      opacity: 1;
      pointer-events: visible;
    }
  }

  a,
  button,
  &__link {
    @extend %link;
    font-weight: $fw-regular;
    color: $hp-blue;
    margin-right: $margin-l;
    transition: all $duration-s;
    cursor: pointer;
  }
  &__link {
    &::after {
      background-color: $hp-blue;
      height: 1px;
    }
    &--active {
      & .Navbar__link::after {
        width: 100%;
      }
    }
  }

  &__container,
  &__desktop {
    height: 100%;
  }
  &__container {
    position: relative;
    z-index: 1;
  }

  &__desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    padding: 0 $padding-m;
    margin: 0 auto;

    @include respond-to(m) {
      padding: 0;
      width: $max-width-s-inner;
    }

    @include respond-to(l) {
      width: $max-width-m-inner;
    }
    @include respond-to(xl) {
      width: $max-width-m;
    }
    @include respond-to(xxl) {
      width: $max-width-l;
    }
  }

  &__left,
  &__right {
    height: auto;
    margin: auto 0;

    .Navbar__start {
      > img {
        width: auto;
        height: 2rem;
        object-fit: cover;

        @include respond-to(m) {
          height: 3.5rem;
        }
      }
    }
  }

  &__left {
    flex: 1 1 20%;

    a {
      margin: 0;
      line-height: 1;

      &::after {
        height: 0;
        display: none;
      }
    }
  }
  &__right {
    flex: 1 1 80%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__ext {
    position: relative;
    width: auto;
    height: auto;
  }

  &__plus {
    font-weight: $fw-light;
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    margin-right: $margin-xs;

    transition: all $duration-s;

    &--active {
      transform: rotate(45deg);
      font-weight: $fw-regular;
    }
  }

  &__dropdown {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 20rem;
    top: 5rem;
    left: 0;
    opacity: 0;
    transition: opacity $duration-s;

    background-color: $hp-white;
    padding: $padding-xs;
    margin-left: -$padding-xs;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @extend %box;

    > a {
      margin: 0;
      margin-bottom: $margin-xs;
    }

    &--active {
      opacity: 1;
    }
  }
  &__mobile-screen {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &--transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;

    a,
    button,
    .Navbar__link {
      color: $hp-white;

      &::after {
        background-color: $hp-white;
      }
    }
    & .Navbar__link {
      &--active {
        & .Navbar__link::after {
          width: 100%;
          height: 1px;
          width: 100%;
        }
      }
    }
    & .Navbar__plus {
      color: $hp-white;
    }

    & .Navbar__dropdown {
      padding: 0;
      padding-top: $padding-xs;
      background-color: transparent;
      background-color: transparent;
      border: none;
      box-shadow: none;
      top: 3rem;
    }

    // & .Navbar__left {
    //   flex: 0 1 20%;

    //   a {
    //     margin: 0;

    //     &::after {
    //       height: 0;
    //     }
    //   }
    // }
  }
}
