@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.ServiceOverviewIntro {
  margin-top: $margin-m;
  &__intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__left {
    flex: 0 0 auto;

    display: none;

    @include respond-to(s) {
      display: block;
    }

    & img {
      height: 100%;
      width: auto;

      max-height: 40rem;
      object-fit: cover;
    }
  }
  &__right {
    flex: 1 1 100%;

    margin: auto 0;
    padding: 0 $padding-m;

    @include respond-to(s) {
      flex: 1 1 70%;
    }
  }
  &__hexa {
    position: relative;
    width: 10rem;
    height: 10rem;

    > img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
    & .ServiceOverview__icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;

      & img {
        margin: auto;
      }
    }
  }
}
