@import "./global.scss";
    
.Footer {
    background-color: $hp-blue;
    font-family: $hp-ff;
    font-size: $fs-s;

    width: 100vw;

    p {
        color: $hp-white;
        display: inline;
        margin: 2px;
    }
}