@import "../styles/global";
    
.Footer {
    background-color: $hp-blue;
    font-family: $hp-ff;
    font-size: $fs-s;

    h3 {
        color: $hp-white;
        text-align: left;
        margin-bottom: 0;
    }

    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__col {
        flex: 0 0 auto;
        p, span {
            color: $hp-white;
            margin-bottom: $margin-s/2;
        }
        span {
            text-transform: uppercase;
            font-weight: $fw-light;
            display: inline-block;
        }
        p {
            font-weight: $fw-bold;
        }
        img {
            width: auto;
            height: 20rem;
            margin: auto;
            margin-top: -6rem;
        }
    }
    &__hours-block {
        display: flex;
        flex-direction: row;
    }
    &__hours {
        flex: 1 1 auto;
        margin-right: $margin-m;

        & span {
            display: inline-block;
            margin-bottom: $margin-xs;

        }
        >  p::after {
            content: ' Uhr';
        }
        
    }

    // width: 100vw;
    &__subline {
        p {
            color: $hp-white;
            display: inline;
            margin: $margin-xs $margin-m 0 0 ;
            text-align: right;
        }
    }
}