@import "../styles/global";
@import "../styles/media-queries";

.Footer {
  background-color: $hp-blue;
  font-family: $hp-ff;
  font-size: $fs-s;
  min-height: 100vh;
  overflow: hidden;

  @include respond-to(m) {
    min-height: 30rem;
    height: 100%;
  }

  h3 {
    color: $hp-white;
    text-align: left;
    // margin-bottom: 0;
  }

  > div {
    margin-top: $margin-menu-mobile + $margin-m;
  }

  &__content {
    height: 100%;
    margin-bottom: $spacer-m;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond-to(m) {
      width: 100%;
      height: auto;
    }
  }

  &__col {
    flex: 1 1 50%;
    margin-bottom: $margin-l;

    @include respond-to(m) {
      flex: 1 1 auto;
      margin-bottom: 0;
    }

    p,
    span {
      color: $hp-white;
      margin-bottom: $margin-s/2;
    }
    span {
      text-transform: uppercase;
      font-weight: $fw-light;
      display: inline-block;
    }
    p {
      font-weight: $fw-bold;
    }
    img {
      width: auto;
      height: 20rem;
      margin: auto;
      margin-top: -6rem;
    }
  }
  &__hours-block {
    display: flex;
    flex-direction: row;
  }
  &__hours {
    flex: 0 0 auto;
    margin-right: $margin-m;

    & span {
      display: inline-block;
      margin-bottom: $margin-xs;
    }
    > p::after {
      content: " Uhr";
    }
  }

  // width: 100vw;
  &__subline {
    margin-bottom: $margin-m;
    a,
    p {
      text-decoration: none;
      color: $hp-white;
      display: inline;
      margin: $margin-m $margin-m 0 0;
      text-align: right;
    }
  }
}
