@import "~bulma/sass/utilities/initial-variables";

$hp-blue: #1E3769;
$hp-blue-2: #1E73B9;
$hp-blue-3: #78B4D7;
$hp-white: #fff;
$hp-light-gray: rgb(236, 236, 236);

$hp-ff: 'Brandon Text Regular';

$fs-s: 0.9rem;
$fs-m: 1.2rem;
$fs-l: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 2.4rem;
$fs-xxxl: 3.4rem;

//TODO importieren Font-weoght
$fw-bold: 800;

$border-xs: $hp-light-gray 1px solid;

$bs-standard: 3px 3px 5px rgba(0, 0, 0, 0.2);
$br-standard: 1rem;

$spacer-xs: 0.5rem; 
$spacer-s: 1rem;
$spacer-m: 3rem;
$spacer-l: 5rem;

$duration-s: 0.5s;
$duration-m: 1s;


*, body {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-family: $hp-ff;
}
h1, h2, h3, h4, p, span {
    color: $hp-blue;
    font-family: $hp-ff;
}

h1, h2, h3, h4 {
    font-size: $fs-l;
    font-weight: $fw-bold;
    text-transform: uppercase;
}
h1 {
    font-size: $fs-xxxl;
}
h2 {
    font-size: $fs-xxl;
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.Hexa {
    margin: auto -2.5rem;

    width: 60px;
    height: 100px ;
    background-color: $hp-blue;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: -30px;
        border-right: 30px solid $hp-blue;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    
    
    &:after {
        content: "";
        position: absolute;    
        right: -30px;
        border-left: 30px solid $hp-blue;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    



}
    