@import "../fonts/stylesheet.css";
@import "../styles/global";
@import "../styles/extends";

.Layout {
  &__content {
    -webkit-transition: height $duration-s;
    -moz-transition: height $duration-s;
    -ms-transition: height $duration-s;
    -o-transition: height $duration-s;
    transition: height $duration-s;
  }
  &__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3%;
    text-align: center;

    > a {
      @extend %link;
      margin: 0 auto;

      font-size: 1.4rem;
      color: $hp-blue;

      &::after {
        background-color: $hp-white;
      }
    }
  }
}
