@import './global.scss';

.Navbar {
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: $hp-white;
    box-shadow: $bs-standard;

    a {
        text-decoration: none;
        color: $hp-blue;
        text-transform: uppercase;
        margin-right: 2rem;
    }



    &__desktop {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__links, &__rechts {
        padding: 1rem;

        .Navbar__start {
            > img {
                width: auto;
                height: 2rem;
                object-fit: cover;
            }
        }
    }

    &__links {
        flex: 0 1 20%;
    }
     &__rechts {
        flex: 1 1 80%;
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
     }

}