@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.ServiceOverview {
  &__content {
    padding-top: $margin-menu-mobile + $margin-xl;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include respond-to(l) {
      justify-content: space-between;
      padding-top: $margin-menu + $margin-xl;
    }
  }
  &__element {
    flex: 1 1 max-content;
  }
}
