@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.ServiceTeaser {
  padding-top: $margin-menu + $margin-l;

  > h3 {
    font-size: $fs-h3-mobile;
    margin-bottom: $margin-m;

    @include respond-to(l) {
      font-size: $fs-h3;
      margin-bottom: initial;
    }
  }

  &__boxes {
    margin-top: $margin-m;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include respond-to(l) {
      flex-direction: row;
    }
  }
  &__box {

    &:not(:last-child) {
      margin-bottom: $margin-s;
    }

    > .ArrowLink {
      display: none;
    }
    @include respond-to(l) {
      flex: 0 0 33%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      > .ArrowLink {
        display: block;
        flex: 0 0 5rem;
        height: auto;
      }

      > .ServiceTeaser {
        flex: 0 0 auto;
      }
    }
  }
}
