@import "../../styles/media-queries";

.ProductOverview {
  height: 100%;
  margin-bottom: 5rem;
  padding-left: $padding-m;
  position: relative;
  z-index: 100;

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-top: $margin-m;
    z-index: 10;

    overflow: scroll;
    overflow-y: visible;
    width: 100vw;
    padding-right: $margin-l;

    min-height: 40rem;

    @include respond-to(xl) {
      width: 100%;
      overflow: visible;
      margin-left: 0;
      margin-top: -5rem;
    }
  }
}
