@import "../../styles/media-queries";

.ProductOverview {
  margin-bottom: 12rem;
  position: relative;
  z-index: 100;
  // padding-left: $margin-xl;

  @include respond-to(xl) {
    padding-left: 0;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    margin-top: $margin-m;
    z-index: 10;

    overflow: scroll;
    overflow-y: visible;
    width: 100%;
    padding-right: $margin-l;

    max-height: 40rem;

    @include respond-to(xl) {
      margin-left: 0;
      margin-top: -10rem;
      justify-content: space-between;
    }

    @include respond-to(xxl) {
      width: 100%;
      overflow: visible;
    }
  }
}
