@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.History {
  height: auto;
  width: 100%;
  margin-bottom: $margin-l;

  > .Container {
    padding: 0 $spacer-m;
    @include respond-to(xl) {
      padding: 0 $spacer-l;
    }
  }

  &__intro {
    text-align: center;
    height: auto;

    > h2 {
      margin-bottom: $margin-s;
      font-size: $fs-h2-mobile;
    }
    > p {
      text-align: center;
    }
    @include respond-to(xl) {
      margin-top: $margin-menu;

      > h2 {
        font-size: $fs-h2;
      }
      > p {
        font-size: $fs-p;
      }
    }
  }

  &__teasers {
    & .HistoryTeaser:nth-child(odd) .HistoryTeaser__wrapper {
      flex-direction: column-reverse;
      @include respond-to(m) {
        flex-direction: row-reverse;
      }

      .HistoryTeaser__image {
        margin: 0;
      }
      @include respond-to(m) {
        .HistoryTeaser__content {
          margin-left: -10rem;
          margin-right: 0;
        }
      }
    }
  }
}
