@import "../../../styles/_global.scss";

.HexaIcon {
    position: relative;

    > img {
        position: absolute;
        object-fit: contain;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

    }
    &__image {
        position: absolute;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        div, img {
            width: 50%;
            height: auto;
            object-fit: cover;
        }
        > h4 {
            color: $hp-white;
            margin: 0;
        }
    }
}