@import "../global.scss";

.ProductLink {
    width: 100%;
    height: auto;
    padding: $spacer-m;
    margin-bottom: $spacer-s;


    box-shadow: $bs-standard;
    border-radius: $br-standard;
    border: $border-xs;

    position: relative;
    display: block;
    cursor: pointer;

    &__lable {
        text-align: left;
        margin: 0 0 $spacer-xs;
    }

    &__button {
        width: 3rem;
        position: absolute;
        top: $spacer-m;
        right: - 1.5rem;
    }

}