@import "../../styles/_global.scss";
@import "../../styles/media-queries";

.ProductLink {
  width: 100%;
  height: auto;
  margin-bottom: $margin-s;

  position: relative;
  display: block;
  cursor: pointer;

  &__lable {
    text-align: left;
    margin: 0 0 $margin-xs;
  }
  &__button {
    position: absolute;
    top: $margin-m;
    right: -2rem;
    @include respond-to(m) {
      right: -3rem;
    }
  }
  .TextBox {
    padding: 2rem;
    > p {
      font-size: $fs-p-mobile;
      @include respond-to(xxl) {
        font-size: $fs-p;
        line-height: 1.6;
      }
    }
  }
}
