@import "../../styles/_global.scss";
@import "../../styles/media-queries";
@import "../../styles/_mixins";

.Reasons {
  margin-top: $margin-menu-mobile + $margin-m;
  @include respond-to(l) {
    margin-top: 0;
  }
  &__wrapper {
    text-align: center;
    > h3 {
      font-size: $fs-h3-mobile;
      margin-bottom: $margin-s;
    }
    > p {
      margin-bottom: $margin-l;
    }
    @include respond-to(xl) {
      padding-top: $padding-m;
      > h3 {
        font-size: $fs-h3;
      }
      > p {
        margin-bottom: $margin-l;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    text-align: center;

    @include respond-to(l) {
      flex-direction: row;
      text-align: left;
      margin-top: $spacer-l;
    }
  }
  &__reason {
    position: relative;
    width: 100%;

    margin-bottom: $margin-l;

    & .TextBox {
      padding-top: $padding-m;
    }

    @include respond-to(l) {
      flex: 0 0 auto;
      max-width: 40rem;

      & .TextBox {
        padding: 4rem 3rem 4rem 4rem;
        min-height: 28rem;
      }
    }
  }
  &__hexa {
    position: absolute;
    top: -2rem;
    width: 100%;

    > div {
      margin: 0 auto;
    }

    @include respond-to(l) {
      position: absolute;
      top: 3.5rem;
      margin-left: -2.5rem;

      > div {
        margin: 0;
      }
    }
  }
}
