@import "../../styles/_global.scss";
@import "../../styles/media-queries";

$duration: 0.5s;

.ProductLinks {
  width: 100%;

  @include respond-to(xl) {
    display: flex;
    flex-direction: row;

    &__image {
      flex: 1 1 auto;
      margin-left: $margin-xl;
      height: auto;
      width: 100%;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      -webkit-transition: all $duration ease-in-out;
      -moz-transition: all $duration ease-in-out;
      -ms-transition: all $duration ease-in-out;
      -o-transition: all $duration ease-in-out;
      transition: all $duration ease-in-out;

      &--0 {
        -webkit-transition: all $duration ease-in-out;
        -moz-transition: all $duration ease-in-out;
        -ms-transition: all $duration ease-in-out;
        -o-transition: all $duration ease-in-out;
        transition: all $duration ease-in-out;
        background-image: url("../../img/Pool_pool.jpg");
      }
      &--1 {
        -webkit-transition: all $duration ease-in-out;
        -moz-transition: all $duration ease-in-out;
        -ms-transition: all $duration ease-in-out;
        -o-transition: all $duration ease-in-out;
        transition: all $duration ease-in-out;
        background-image: url("../../img/Pool_roof.jpg");
      }
      &--2 {
        -webkit-transition: all $duration ease-in-out;
        -moz-transition: all $duration ease-in-out;
        -ms-transition: all $duration ease-in-out;
        -o-transition: all $duration ease-in-out;
        transition: all $duration ease-in-out;
        background-image: url("../../img/Pool_wasser.jpg");
      }
      &--3 {
        -webkit-transition: all $duration ease-in-out;
        -moz-transition: all $duration ease-in-out;
        -ms-transition: all $duration ease-in-out;
        -o-transition: all $duration ease-in-out;
        transition: all $duration ease-in-out;
        background-image: url("../../img/Pool_zub.jpg");
      }
      &--4 {
        -webkit-transition: all $duration ease-in-out;
        -moz-transition: all $duration ease-in-out;
        -ms-transition: all $duration ease-in-out;
        -o-transition: all $duration ease-in-out;
        transition: all $duration ease-in-out;
        background-image: url("../../img/Pool_all.jpg");
      }
    }
  }

  &__links {
    width: 90%;
    margin: 0 auto;

    @include respond-to(xl) {
      flex: 0 0 40%;
      margin: 0;
    }
  }
}
