@import "../../styles/global";
@import "../../styles/media-queries";

.FaqPage {
  @include respond-to(xl) {
    & .Stage__content {
      margin-top: 20%;
    }
  }
  h1 {
    font-size: $fs-h1-mobile;
    @include respond-to(xl) {
      font-size: 7rem;
    }
  }
  h3 {
    font-size: $fs-h3-mobile;
    @include respond-to(m) {
      font-size: $fs-h3;
    }
  }
}
