@import "../../styles/_global";
@import "../../styles/media-queries";

.ProductTeasers {
  // ToDo row reverse
  z-index: 51;
  position: relative;

  @include respond-to(m) {
    &__products > div:nth-child(odd) {
      & .ProductTeaser__description {
        right: 50%;
        left: 0;
      }
    }
  }
}
